<h1 class="group-title"><%= @group.name %></h1>

<!-- メッセージ一覧表示 -->
<div id="comment_index">
  <%= render "public/shared/message_index", group_messages: @group_messages %>
</div>

<!-- メッセージ送信フォーム -->
<%= render "public/shared/message_form", group: @group, group_message: @group_message %>