<div class="d-flex justify-content-center my-3">
  <%= render "public/shared/search" %>
</div>

<div class="row">

  <%= render "public/shared/user_info", user: current_user, link_to_user: false, editable: false, title: 'User info' %>

  <!-- 右側: 投稿一覧 -->
  <div class="col-9">
    <div class="d-flex justify-content-between align-items-center mt-3" style="max-width: 90%;">
    <!-- タイトル -->
      <h3>投稿一覧</h3>
      <%= render "public/shared/sort_form" %>
    </div>
    <%= render "public/shared/posts_index", posts: @posts, show_username: true, show_buttons: false, is_favorites_page: false %>
  </div>
</div>
