<div class="row">

  <%= render "public/shared/user_info", user: @post.user, link_to_user: true, editable: false %>

  <!-- 投稿詳細 -->
  <div class="col-9">
  <h3 class="mt-3">実装した機能のメモ書き</h3>
    <table class="table" style="max-width: 30%;">
        <tr>
          <td>実装した機能</td>
          <td>
          <%= @post.task.name %>
          <% if @post.is_completion == false %>
            (実装中)
          <% end %>
          </td>
        </tr>
    </table>

    <!-- メモ部分 -->
    <div class="mt-4 p-3 border" style="max-width: 90%; height: 350px; border-width: 2px; border-radius: 5px;">
      <p><%= @post.note %></p>
    </div>
  </div>
</div>
