<div class="row">
  <%= render "public/shared/user_info", path: admin_user_path(@post.user), user: @post.user, link_to_user: true, editable: false, title: 'User info' %>

  <%= render "public/shared/post_details", {
  table_width: "60%",
  show_completion_status: false,
  render_favorite_btn: false,
  delete_path: admin_post_path(@post),
  user_path_callable: ->(user) { admin_user_path(user) },
  edit_comment_path_callable: nil,
  delete_comment_path_callable: ->(comment) { admin_post_comment_path(@post, comment) }
  } %>

  </div>
</div>
