/* プロフィール画像のスタイル */
.img-fluid {
  border: 2px solid #ddd;
  padding: 5px;
  border-radius: 50%;
}

/* ユーザー情報のセクション */
.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.hr {
  margin: 1rem 0;
  border: 0;
  border-top: 2px solid #ccc;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-sm {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.green {
  background-color: #00FF99;
  color: #000;
}

/* ボタンコンテナを右下に固定 */
.delete-btn-container {
  position: absolute;
  right: 130px; /* 右端からの余白 */
  bottom: 20px; /* 下端からの余白 */
}