<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
  <div>
    <!-- 機能名 -->
    <div class="mt-4">
      <h4>機能名</h4>
      <p><%= @task.name %></p>
    </div>

    <!-- 平均所要時間 -->
    <div class="mt-4">
      <h4>平均所要時間</h4>
      <p><%= @task.calculate_average_time.present? ? "#{@task.calculate_average_time}分" : "データなし" %></p>
    </div>

    <!-- 説明 -->
    <h4>説明</h4>
    <div class="p-3 border" style="max-width: 80%; border-width: 2px; border-radius: 5px; border-color: black;">
      <p><%= @task.explanation %></p>
    </div>

    <!-- ボタン -->
    <div class="text-center mt-4 mr-4">
      <%= link_to '実装予定日の選択画面へ', new_post_path(task_id: @task.id), class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
